n8n/workflows/reservation-cleanup.json
{
  "name": "YZESKS Reservation Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL cleanup_expired_reservations();",
        "additionalFields": {}
      },
      "name": "Cleanup Reservations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "channel": "monitoring",
        "text": "=Reservation cleanup completed. Cancelled reservations: {{$json.affected_rows}}",
        "additionalFields": {}
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Monitoring"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cleanup Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Reservations": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}